@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .snap-y {
    scroll-snap-type: y mandatory;
  }
  
  .snap-start {
    scroll-snap-align: start;
  }
}

:root {
  --background: #0b1228;
  --foreground: #e6edff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
